.ecButton:hover {
    transform: scale(1.105);
    transition: transform 150ms ease;
    color: #0d6efd !important;
}

.ecButton:active {
    transform: scale(0.95);
    transition: transform 75ms ease;
}